.main {
  width: 100%;
  padding-top: calc(var(--header-height) + var(--spacing-sm) * 2);
}
@media (min-width: 1200px)  {
  .main {
    padding-top: 0;
  }
}

.notFound {
  background-color: var(--color-surface-light);
  transition: background-color var(--animate-full-time);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codeError {
  font-size: calc(var(--font-size-xl) * 4);
  color: var(--color-accent-dark);
  text-shadow: 0 0 .3rem var(--color-accent-light);
  transition: 
    color var(--animate-full-time),
    text-shadow var(--animate-full-time)
  ;
}

.massage {
  padding: var(--spacing-md);
  transition: background-color var(--animate-full-time);
}
.massageText {
  font-size: var(--font-size-md);
  color: var(--color-text-light);
  transition: color var(--animate-full-time);
}