@import './CSS_UI_Kit/themes.css';
@import './CSS_UI_Kit/adaptive_sizes.css';

:root {
  --animate-full-time: 1.7s ease-in-out;
}

body {
  max-width: 100vw;
}

@media (min-width: 768px) {
  body {
    max-width: auto;
    min-width: 768px;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color var(--animate-full-time);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: var(--font-size-lg);
}

h2 {
  font-size: var(--font-size-md);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}
button {
  -webkit-tap-highlight-color: transparent;  /* Удаляет синий overlay */
  tap-highlight-color: transparent;  /* Стандартное свойство (экспериментальное, для будущего) */
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

section {
  overflow: hidden;
}
