.sectionOuter {
  /* Верхний контейнер для тестирования */
}

.sectionMain {
  padding: var(--spacing-xl) var(--spacing-md);
  background-color: var(--color-accent);
  transition: background-color var(--animate-full-time);
  /* Light golden caramel */
}

.sectionInner {
  width: 100%;
}

.sectionTitle {
  font-family: sans-serif;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-text-alt);
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.cardListOuter {
  width: 100%;
  /* Верхний контейнер для тестирования */
}

.cardListMain {
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
}

.cardListInner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.cardOuter {
  /* Верхний контейнер для тестирования */
}

.cardMain {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-height: 100%;
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md);
  background-color: var(--color-background);
  /* Pure white / Lighter coffee */
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-surface-alt);
  /* Semi-transparent coffee */
  overflow: hidden;
  transition: 
    transform .35s ease-in-out, 
    box-shadow .35s ease-in-out,
    background-color var(--animate-full-time)
  ;
}

.cardMain:hover {
  transform: scale(1.02) translateY(-10px);
}

.cardInner {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--spacing-md);
  min-height: 150px;
}

.cardImageWrapper {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 5 / 4;
  position: relative;
  background-color: var(--color-surface-alt);
  border-radius: var(--radius-sm);
  overflow: hidden;
}
.cardImage {
  object-fit: cover;
}

.cardTitle {
  font-family: 'Georgia', serif;
  font-size: var(--font-size-md);
  font-weight: 700;
  letter-spacing: calc(var(--font-size-xs) / 8);
  text-transform: uppercase;
  color: var(--color-accent);
  transition: color var(--animate-full-time);
}

.cardDescription {
  font-family: Sans-Serif;
  font-weight: 500;
  font-size: var(--font-size-sm);
  line-height: calc(var(--font-size-md));
  letter-spacing: calc(var(--font-size-xs) / 12);
  word-spacing: calc(var(--font-size-xs) / 9);
  color: var(--color-text-light);
  transition: color var(--animate-full-time);
}

.cardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: calc(var(--spacing-xs) * -1);
  justify-content: space-between;
  gap: var(--spacing-md);
}

.cardPrice {
  font-family: 'Georgia', serif;
  font-size: var(--font-size-lg);
  font-weight: 700;
  white-space: nowrap;
  color: var(--color-accent); /* Sandy caramel */
  transition: color var(--animate-full-time);
}

.cardButton {
  padding: var(--spacing-xs) var(--spacing-md);
  font-family: sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 600;
  white-space: nowrap;
  border-radius: var(--radius-lg);
  background-color: var(--color-accent); /* Sandy caramel */
  color: var(--color-text-alt);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transition: 
    background-color var(--animate-full-time), 
    color var(--animate-full-time),
    filter .45s ease-in-out,
    transform .45s ease-in-out
  ;
}

.cardButton:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .cardListMain {
    border-radius: var(--radius-lg);
    padding: var(--spacing-lg);
  }
  
  .cardListInner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-lg);
  }
}

@media (min-width: 1200px) {
  .cardListMain {
    padding: var(--spacing-md) var(--spacing-sm);
  }
  .cardListInner {
    grid-template-columns: repeat(3, 1fr);
  }
  .cardMain {
    gap: var(--spacing-xs);
  }
  .cardInner {
    gap: var(--spacing-sm);
  }
  .cardTitle {
    font-size: calc(var(--font-size-sm) * 1.1);
  }
  .cardDescription {
    font-size: var(--font-size-sm);
  }
  .cardFooter {
    gap: var(--spacing-sm);
    margin-top: calc(var(--spacing-sm) * -1);
  }
  .cardPrice, .cardButton {
    font-size: calc(var(--font-size-sm));
  }
  .cardButton {
    padding: calc(var(--spacing-xs) * .6) var(--spacing-sm);
  }
}